<% include partials/header.ejs %>
<div class="container">
    <h1 class="form-header">Edit <%= recipe.title %></h1>
    <div class="row">
        <div class="form-container">
            <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Recipe Title</label>
                    <input type="text" class="form-control" id="title" value="<%= recipe.title %>" name="title"
                           required>
                </div>
                <fieldset class="form-group " id="ingredientsList">
                    <label for="ingredientsList">Ingredients</label>
                    <i class="far fa-plus-square fa-lg" id="addIngredient"></i>
                    <% recipe.ingredientList.forEach(function(ingredient){ %>
                    <!--need to eventually make at least 1 ingredient required-->
                    <input type="text" class="form-control" name="ingredients[]" value="<%= ingredient %>">
                    <i class="far fa-minus-square fa-lg" id="removeIngredient"></i>
                    <% }); %>

                </fieldset>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea rows="10" class="form-control" id="instructions" name="instructions"
                              required><%= recipe.instructions %></textarea>
                </div>
                <div class="form-group">
                    <figure class="figure">
                        <img src="/uploads/<%= recipe.img.imgFileName %>"
                             class="figure-img img-fluid rounded editImgThumbnail"
                             alt="An image with filename of <%= recipe.img.imgOriginalName %>">
                        <figcaption class="figure-caption"><%= recipe.img.imgOriginalName %></figcaption>
                    </figure>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="img" name="img"
                                   accept="image/x-png,image/gif,image/jpeg,image/jpg">
                            <label class="custom-file-label" for="img">Choose a new recipe image</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
<script type="text/javascript" src="../public/scripts/form.js"></script>